{% extends "layout.html" %}

{% block main %}

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <form action="/register" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class ="form-group">
                <legend class="border-bottom mb-4 pb-3">Join Today</legend>
                <div class="form-group">
                    <div class="leftTab">
                    {% if form.username.errors %}
                        {{ form.username.label(class="form-control-label") }}
                            <span class="label-error">Errordddddddddddddddddddddddddddddddddddddddd</span>
                    {% else %}
                        {{ form.username.label(class="form-control-label") }}
                    {% endif %}
                    </div>
                    <div class="rightTab">
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid", placeholder="Username") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span class="regError">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg", placeholder="Username") }}
                    {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="leftTab">
                    {% if form.email.errors %}
                        {{ form.email.label(class="form-control-label") }}
                        <span class="label-error">Errordddddddddddddddddddddddddddddddddddddddd</span>
                    {% else %}
                        {{ form.email.label(class="form-control-label") }}
                    {% endif %}
                    </div>
                    <div class="rightTab">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid", placeholder="E-Mail Address") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span class="regError">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg", placeholder="E-Mail Address") }}
                    {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="leftTab">
                    {% if form.password.errors %}
                        {{ form.password.label(class="form-control-label") }}
                        <span class="label-error">Errordddddddddddddddddddddddddddddddddddddddd</span>
                    {% else %}
                        {{ form.password.label(class="form-control-label") }}
                    {% endif %}
                    </div>
                    <div class="rightTab">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid", placeholder="Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span class="regError">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg", placeholder="Password") }}
                    {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="leftTab">
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password.label(class="form-control-label") }}
                        <span class="label-error">Errordddddddddddddddddddddddddddddddddddddddd</span>
                    {% else %}
                        {{ form.confirm_password.label(class="form-control-label") }}
                    {% endif %}
                    </div>
                    <div class="rightTab">
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid", placeholder="Confirm Password") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span class="regError">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg", placeholder="Confirm Password") }}
                    {% endif %}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for("login") }}">Sign In</a>
        </small>


    </div>
 </div>

{% endblock %}